@model PagedList.IPagedList<Teman_ApotikProj.Models.ObatMasuk>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
}

<h2>Index Obat Masuk</h2>

<p class="navbar-right">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tanggal Masuk")
        </th>
        <th>
            @Html.DisplayName("ID Jenis Obat")
        </th>
        <th>
            @Html.ActionLink("Jumlah Masuk", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Harga Beli")
        </th>
        <th>
            @Html.DisplayName("Kode Obat")
        </th>
        <th>
            @Html.ActionLink("Nama Supplier", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tgl_Masuk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Jenis_Obat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah_Masuk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga_Beli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obat.Kode_Obat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Nama_Suplier)
            </td>
            <td>
                @Html.ActionLink("Ubah", "Edit", new { id = item.Id_Transaksi_Masuk }) |
                @Html.ActionLink("Detail", "Details", new { id = item.Id_Transaksi_Masuk }) |
                @Html.ActionLink("Hapus", "Delete", new { id = item.Id_Transaksi_Masuk })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))