@model PagedList.IPagedList<Teman_ApotikProj.Models.ObatKeluar>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="navbar-right">
    @Html.ActionLink("Buat Baru", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tanggal Keluar", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("ID Jenis Obat")
        </th>
        <th>
            @Html.DisplayName("Jumlah Keluar")
        </th>
        <th>
            @Html.DisplayName("Total Harga")
        </th>
        <th>
            @Html.DisplayName("Kode Obat")
        </th>
        <th>
            @Html.ActionLink("Nama Pasien", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tgl_Keluar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Jenis_Obat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah_Keluar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Harga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obat.Kode_Obat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pasien.Nama_Pasien)
            </td>
            <td>
                @Html.ActionLink("Ubah", "Edit", new { id = item.Id_Transaksi_Keluar }) |
                @Html.ActionLink("Detail", "Details", new { id = item.Id_Transaksi_Keluar }) |
                @Html.ActionLink("Hapus", "Delete", new { id = item.Id_Transaksi_Keluar })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))